language: php

php:
    - 5.3.3
    - 5.3
    - 5.4
    - 5.5

branches:
    only: master

notifications:
    email: false
    irc: "irc.iiens.net#Erebot"

before_script:
    - if [ "$TRAVIS_PHP_VERSION" = "5.3.3" ]; then prefer_source="--prefer-source"; else prefer_source=""; fi
    - (php -m | grep intl &> /dev/null) || pecl install pecl/intl
    - composer self-update -n
    - composer install --dev -n $prefer_source

script:
    - php vendor/bin/wordlist-converter tests/wordlists/test.txt
    - php vendor/bin/wordlist-converter tests/wordlists/twowords.txt
    - phpunit --coverage-clover clover.xml --bootstrap vendor/erebot/testenv/bootstrap.php tests/

after_script:
    - composer require --dev $prefer_source "satooshi/php-coveralls dev-master"
    - php vendor/bin/coveralls -n -v

